Source: ros-hydro-mjpeg-server
Section: misc
Priority: extra
Maintainer: Russell Toris <rctoris@wpi.edu>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-cv-bridge, ros-hydro-image-transport, ros-hydro-roscpp, ros-hydro-roslib, ros-hydro-std-msgs
Homepage: http://ros.org/wiki/mjpeg_server
Standards-Version: 3.9.2

Package: ros-hydro-mjpeg-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-cv-bridge, ros-hydro-image-transport, ros-hydro-roscpp, ros-hydro-roslib, ros-hydro-std-msgs
Description: A ROS Node to Stream Image Topics Via a MJPEG Server
